@import "bootstrap";
@import "components/variables";

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}


//section tech
/*
.tech-col {
    height: 40rem;
    & .tech-col__left {
        height: 100%;
    }
    & .tech-col__right--50 {
        height: 50%;
    }
    & .tech-col__right--25 {
        height: 25%;
    }
}
*/

//section education
/*
.first-row-ed {
    height: 25rem;
    & .first-row-ed__content {
        height: 100%;
        @media (max-width: 767px) {
            &.h-50-xs {
                height: 50%;
            }
        }
    }
}
*/

//opinion section
/*
.opinion-row {
    height: 30rem;
    & .opinion-row__content {
        height: 100%;
        @media (max-width: 767px) {
            &.h-50-xs {
                height: 50%;
            }
        }
    }
}
*/

.p-0{
    padding: 0;
}
.p-t-15{
    padding-top: 1.5rem;
}
.p-l-0{
    padding-left: 0;
}
.ov-hidden{
    overflow: hidden;
}

.img-responsive{
    width: 100%;
}

@media (min-width: 767px){
    .img-responsive{
        height: 100%;
    }
}

.main-news{
    position: relative;
    height: 19rem;
    & h5{
        font-size: 20px;
    }
    & .content{
        position: absolute;
        bottom: 0;
        left: 2rem;
        color: white;
    }
    & img{
        max-width: inherit;
        height: 100%;
    }
    & .main-news__contain-img{
        height: 100%;
    }
    @media (min-width: 767px){
        height: 28rem;
    }
}

.second-news{
    & .content{
        background-color: $secondary-color;
        color: white;
    }
    &.content--litle{
            height: 10rem;
            overflow: hidden;
    }
    @media (min-width: 767px){
        & .second-news__contain-img{
            height: 70%;
        }
        & .content{
            height: 30%;
        }
        &.content--sm{
            height: 20rem;
        }
        &.world-news--content-sm{
            height: 45rem;
            padding: 1.5rem 0 0;
        }
        &.world-news--cont-middle-up, &.world-news--cont-middle-down{
            height: 15rem;
        }
        &.world-news--cont-row-down{
            height: 20rem;
        }
    }
    @media (max-width: 767px){
        &.world-news--cont-middle-down, &.world-news--cont-middle-up{
            @include flex(row);
            height: 8rem;
            padding: 1.5rem 0 0;
        }
        & img{
            height: 100%;
        }
    }
    &.flex-row{
        @include flex(row);
        @media (min-width: 767px){
            @include flex(column);
        }
    }
    &.flex-col{
        @include flex(column);
    }
}