@import "bootstrap";
@import "components/variables";

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

.p-0{
    padding: 0;
}
.p-t-15{
    padding-top: 1.5rem;
}
.p-l-0{
    padding-left: 0;
}
.ov-hidden{
    overflow: hidden;
}

.img-responsive{
    width: 100%;
}

@media (min-width: 767px){
    .img-responsive{
        height: 100%;
    }
}

.main-news{
    position: relative;
    height: 19rem;
    & h5{
        font-size: 20px;
    }
    & .content{
        position: absolute;
        bottom: 0;
        left: 2rem;
        color: white;
    }
    & img{
        max-width: inherit;
        height: 100%;
    }
    & .main-news__contain-img{
        height: 100%;
    }
    @media (min-width: 767px){
        height: 28rem;
    }
}

.second-news{
    & .content{
        background-color: $secondary-color;
        color: white;
    }
    &.content--litle{
            height: 10rem;
            overflow: hidden;
    }
    & .second-news__contain-img{
        &.in-flex-sm{
            height: 100%;
        }
    }
    & .content{
        &.in-flex-xs{
            height: 100%;
        }
    }
    
    &.world-news--cont-row-down{
        height: 15rem;
        & .content{
            height: 30%;
        }
    }
    @media (min-width: 767px){
        & .second-news__contain-img{
            height: 70%;
            &.in-flex-sm-col{
                height: 70%;
            }
        }
        & .content{
            &.in-flex-sm{
                height: 30%;
            }
        }
        &.content--sm{
            height: 20rem;
        }
        &.world-news--content-sm{
            height: 39rem;
            padding: 1.5rem 0 0;
        }
        &.world-news--cont-middle-up{
            height: 15rem;
        }
        &.world-news--cont-middle-down{
            @include flex(row);
            height: 12rem;
        }
    }
    @media (max-width: 767px){
        &.world-news--cont-middle-down, &.world-news--cont-middle-up{
            height: 8rem;
            padding: 1.5rem 0 0;
        }
        & img{
            height: 100%;
        }
    }
    &.flex-row{
        @include flex(row);
        @media (min-width: 767px){
            @include flex(column);
        }
    }
    &.flex-col{
        @include flex(column);
    }
}