@import "bootstrap";
@import "components/variables";

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
}

    /*img-responsive {
    height: 100%;
}*/

//sectioon top news
.top {
    & .top__content {
            /*height: 40rem;*/
        &.flex {
            @include flex(column);
            div {
                background-color: black;
                color: white;
            }
            @media (max-width: 767px) {
                @include flex(row);
            }
        }
        &.main-new .content {
            left: 3rem;
            bottom: 3rem;
            background-color: transparent;
            position: absolute;
        }
        &.top-2 {
            @include flex(column);
        }
    }
}

@media (max-width: 767px) {
    .top {
        & .top__content--short {
            height: 20rem;
        }
    }
}

//section wolrd news
.first-row-world {
    height: 40rem;
    & .first-row-world__col {
        height: 100%;
        & .col-rigth-content,
        & .col-left-content {
            height: 100%;
        }
        & .col-mid-content-50 {
            height: 50%;
        }
        @media (max-width: 767px) {
            & .col-mid-content-50 {
                height: 33%;
            }
        }
        & .col-mid-content-25 {
            height: 25%;
        }
    }
}

.sec-row-world {
    height: 10rem;
    & .sec-row-world__content {
        height: 100%;
    }
}

//section tech
.tech-col {
    height: 40rem;
    & .tech-col__left {
        height: 100%;
    }
    & .tech-col__right--50 {
        height: 50%;
    }
    & .tech-col__right--25 {
        height: 25%;
    }
}

//section education
.first-row-ed {
    height: 25rem;
    & .first-row-ed__content {
        height: 100%;
        @media (max-width: 767px) {
            &.h-50-xs {
                height: 50%;
            }
        }
    }
}

//opinion section
.opinion-row {
    height: 30rem;
    & .opinion-row__content {
        height: 100%;
        @media (max-width: 767px) {
            &.h-50-xs {
                height: 50%;
            }
        }
    }
}

.p-0{
    padding: 0;
}

.ov-hidden{
    overflow: hidden;
}

.img-responsive{
    width: 100%;
}

@media (min-width: 767px){
    .img-responsive{
        height: 100%;
    }
}

.main-news{
    position: relative;
    height: 19rem;
    & h5{
        font-size: 20px;
    }
    & .content{
        position: absolute;
        bottom: 0;
        left: 2rem;
        color: white;
    }
    & img{
        max-width: inherit;
        height: 100%;
    }
    & .main-news__contain-img{
        height: 100%;
    }
    @media (min-width: 767px){
        height: 28rem;
    }
}

.second-news{
    & .content{
        background-color: $secondary-color;
        color: white;
    }
    @media (min-width: 767px){
        & .second-news__contain-img{
            height: 70%;
        }
        & .content{
            height: 30%;
        }
        &.content--sm{
            height: 20rem;
        }
    }
    &.flex-row{
        @include flex(row);
        @media (min-width: 767px){
            @include flex(column);
        }
    }
    &.flex-col{
        @include flex(column);
    }
    &.content--litle{
        @media (max-width: 767px){
            height: 10rem;
            overflow: hidden;
        }
    }
}